<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/cardStyle.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container-cards">
        <% for(p of productos){%>
        <div class="container-card">
            <div class="contenedorImagen">
                <img id="image" src="<%-p.imagen%>">
            </div>
            <div class="container-letters">
                <div>
                <h2 class="letters item"><%-p.marca%></h2>
                <h2 class="letters item" id="nombre"><%-p.nombre%></h2>
                </div>
                <div>
                    <select class="selectKg item"  name="select">
                        <% p.precios.forEach(price =>{ %> 
                        <option class="kg" value="<%=price.precio%>"><%=price.kg%></li> 
                        <%  }) %>
                    </select>
                    <div class="letters item" id="container-precio">
                        <%-p.precios[0].precio%>
                    </div>
                </div> 
            </div>
            <div class="comprar"><button type="button" class="btn btn-outline-success btn-lg">Agregar Al Carrito</button></div>

             
        </div>
       <% }%>
    </div>

</body>
<script src="/javascripts/product-card.js"></script>
</html>